.position-fixed{
    width: 100vw;
    margin-bottom: 10px;
}
.navbar{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    background-color:#cc7546;
}
.navbar-brand::before ,.navbar-brand::after {
content: "|";
padding:0 5px;
}
#navI{
    margin-left: auto;
}
#brand{
    font-family: 'Montserrat Alternates', sans-serif;
}
.card{
    width: 40vw;
    height: 50vh;
}
.top-img{
    width: 300px;
    height: 90%;
    background-color: grey;
    margin: auto;
}
.starter{
    display: flex;
    background-color: #E7814B;
    height: 45vh;
}
.starter > div, .contain > div, .contact {
    width: 70vw;
    margin: auto;
}
#banner{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin:auto;

}
.contain, .contact{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
svg{
    height:100px;
    margin: 28px 30px;
}
.center{
    text-align: center;
    margin-bottom: 5%;
}
.projects{
    display:grid;
    width: 70vw;
    margin: auto;
    grid-template-columns: [a] 3fr[b] 1fr [c];
}
.grid{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-evenly;
}
a > img {
    height: 100px;
    width: 200px;
    margin: 10px;
}
.contact {
    margin-bottom: 2em;
    margin-top: 3em;
}
.submit {
    margin-top: 2em;
}
footer{
    display: flex;
    background-color:#cc7546;
    color: black;
}
footer > div > h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    display: inline;
    
}
.one, .two {
    margin: 20px auto;
}
.fa {
    color: white;
    margin: 1vw;
}
@media only screen and (max-width: 700px) {
    .projects{
        height: 70vh;
    }
    .grid {
        overflow-y: scroll;
    }
}